.sec-padding {
    padding: 50px !important;
}

.header-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

.font-family {
    font-family: 'Nunito', sans-serif;
}

.sub-nav-img {
    height: 540px;
    width: 100%;
}

.sub-nav-head {
    font-size: 55px;
    font-weight: 600;
}

.bg-opacity-7 {
    background-color: rgba(0, 0, 0, 0.7);
}

.padding-top {
    padding-top: 175px !important;
}

.font-16 {
    font-size: 16px;
    margin-top: 20px;
}

.contact-card {
    border-radius: 24px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.card-body{
    padding:30px
}
input{
    width: 100%;
    padding: 15px !important;
    border-radius: 20px;
    background: aliceblue;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
textarea{
    width: 100%;
    padding: 15px !important;
    border-radius: 20px;
    background: aliceblue;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact-form-img{
    height: 400px;
}
.btn-form{
   background:  linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(240, 81, 24, 1) 68%, rgba(240, 81, 24, 1) 100%);
   color: white;
   border-radius: 24px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   margin-top: 20px;
}
.margin-top-145 {
    margin-top: 145px;
}
.margin-top{
    margin-top: 70px;
}
.form-card{
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* .form-div{
    background-color: aliceblue;
} */
.advertisers-service-sec .service-card {
    width: 100%;
    height: 360px;
    padding: 2em 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #fff;
}

.advertisers-service-sec .service-card::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(#b9e5ed, rgb(144 177 227));
    position: absolute;
    left: 0%;
    top: -98%;
    z-index: -2;
    transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.advertisers-service-sec h3 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
    z-index: 3;
}

.advertisers-service-sec p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    z-index: 3;
    text-align: justify;
}
/* .advertisers-service-sec p:hover {
    color: white;
    
} */

.advertisers-service-sec .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    z-index: 3;
}

.advertisers-service-sec .service-card:hover:after {
    top: 0%;
}

.service-card .icon-wrapper {
    background-color: #ffffff;
}

.icons-height {
    height: 50px;
}
