.sec-padding {
    padding: 50px !important;
}

.text-font {
    font-family: 'Nunito', sans-serif !important;
}

.clr-black {
    color: #575a7b;
}

.bg-opacity-7 {
    background-color: rgba(0, 0, 0, 0.7);
}

.sub-nav-img {
    height: 540px;
    width: 100%;
}

.font-16 {
    font-size: 16px;
    margin-top: 20px;
}

.sub-nav-btn {
    background-color: white;
    color: black;
    border-radius: 24px;
}

.sub-nav-head {
    font-size: 55px;
    font-weight: 600;
}

.padding-top {
    padding-top: 175px !important;
}

.init_text {
    text-align: justify !important;
}

.header-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    /* color: #181d38; */
}

.center-line:before {
    content: '';
    width: 60px;
    height: 3px;
    background: #f91942;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}

.font-family {
    font-family: 'Nunito', sans-serif;
}

.first-img {
    height: 400px;
}


.advertisers-service-sec .service-card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #fff;
}

.advertisers-service-sec .service-card::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(#b9e5ed, rgb(144 177 227));
    position: absolute;
    left: 0%;
    top: -98%;
    z-index: -2;
    transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.advertisers-service-sec h3 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
    z-index: 3;
}

.advertisers-service-sec p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    z-index: 3;
}

.advertisers-service-sec .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    z-index: 3;
}

.advertisers-service-sec .service-card:hover:after {
    top: 0%;
}

.service-card .icon-wrapper {
    background-color: #ffffff;
}

.icons-height {
    height: 50px;
}

.advertisers-service-sec .service-card:hover h3 {
    color: #ffffff;
}

.advertisers-service-sec .service-card:hover p {
    color: #f0f0f0;
}

.margin-top {
    margin-top: 70px;
}

.seo-height {
    height: 300px;
    margin-top: -40px;
}

.choice-container {
    margin: 50px auto;
    /* width: 500px; */
    height: 500px;
    border-radius: 50%;
    background-image: url("https://i.ibb.co/jVL0zvC/section-img.jpg");
    background-size: cover;
    background-position: 43%;
    opacity: .8;
    position: relative;
}

.center-div {
    position: absolute;
    top: 45%;
    margin-top: -30px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-div h2 {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}

.center-div p {
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #ccc;
    line-height: 1.8;

}

.left-cards {
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin-top: 70px;
}
.sqr-img{
    height: 140px !important;
}
.sqr-card{
    padding:30px
}
.sqr-container{
    margin:70px;
}
.card-display{
    display: flex;
}

@media only screen and (max-width: 768px) {
    .sec-padding {
        padding: 10px !important;
    }
/* 
    .header-font {
        font-size: 30px !important;
    } */

    .sqr-img{
        height: 60px !important;
    }

    .first-img {
        height: 190px;
    }

    .seo-height {
        height: 155px;
    }

    .contact-img {
        height: 185px;
        margin-left: 45px;
    }
    .display-none {
        display: none;
    }

    .header-inner.two .overlay {
        height: 540px !important;
    }

    .header-inner.two {
        margin-top: -90px !important;
    }

    h1 {
        font-size: 24px !important;
    }

    h2 {
        font-size: 22px !important;
    }

    h3 {
        font-size: 18px !important;
    }

    h5 {
        font-size: 16px !important;
    }

    p {
        font-size: 14px !important;
    }

    .text-center-mobile {
        text-align: center;
    }

    .mean-container {
        flex-direction: column !important;
        padding: 26px 30px;

    }
    .MERN-container {
        flex-direction: column !important;
        padding: 26px 30px;

    }
    .mean-cards{
        margin-top: 14px;
        text-align: center;
    }
    .MERN-cards{
        margin-top: 14px;
        text-align: center;
    }
    .first-img {
        height: 126px !important;
        margin-left: unset !important;
    }
    .mobile-margin-30{
        margin-top: 30px !important;
    }
    .icard{
        margin: 10px !important;
        padding: 10px !important;
    }
    .android-card {
        margin: 15px !important;
    }
    ul.ex2 li {
        line-height: 1.5 !important;
        background-size: 25px !important;
    }
    .sqr-card{
        padding:0x;
    }
    .sqr-container{
        margin:0px;
    }
    .sqr-img{
        height: 60px;
    }
    .card-display{
        flex-direction: column;
        align-items: center;
    }
    
}